@page
@model New_StudentModel
@{
    ViewData["Title"] = "Registration Form";
}
<h1>@ViewData["Title"]</h1>



<form>
<div class="mb-3">

        <input type="text" name="Name" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
</div>
    <div class="mb-3">
    
        <input type="text" name="Name" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
    </div>
    <div class="mb-3">

    <input type="text" name="Name" class="form-control" id="exampleFormControlInput1" placeholder="Course Name">
    </div>
    <div><button class="btn btn-primary" type="Submit">Submit</button></div>
</form>