@page
@model New_CourseModel
@{
    ViewData["Title"] = "New Course";
}
<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Lecture_Name</th>
                                <th scope="col">Course_name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">WD01</th>
                <td>Saman Perera</td>
            
                <td>Web Designing</td>
            </tr>
            <tr>
                <th scope="row">MA01</th>
                <td>Suneth Fonseka</td>
                                <td>Mobile Application development</td>
            </tr>
            <tr>
                <th scope="row">GD01</th>
                <td>Nuwan Perera</td>
                
                <td>Graphic Designing</td>
            </tr>
          </table>
            </div>