@page
@model Student_infoModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Student_IDNo</th>
            <th scope="col">First_Name</th>
            <th scope="col">Last_Name</th>
            <th scope="col">Course_name</th>
                <th scope="col">Course_ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">001</th>
            <td>Gihan</td>
            <td>Perera</td>
            <td>Web Designing</td>
                <td>WD01</td>
        </tr>
            <tr>
                <th scope="row">002</th>
                <td>Sahan</td>
                <td>Ranwala</td>
                <td>Mobile Application development</td>
                <td>MA01</td>
            </tr>
            <tr>
                <th scope="row">003</th>
                <td>Nuwan</td>
                <td>Kumara</td>
                <td>Web Designing</td>
                <td>WD01</td>
            </tr>
            <tr>
            <th scope="row">004</th>
            <td>Dilum</td>
            <td>Perera</td>
            <td>Web Designing</td>
                <td>WD01</td>
        </tr>
            <tr>
                <th scope="row">005</th>
                <td>Gayan</td>
                <td>sanjeewa</td>
                <td>Graphic Designing</td>
                <td>GD01</td>
            </tr>
            <tr>
            <th scope="row">006</th>
            <td>Zaheer</td>
            <td>Khan</td>
            <td>Mobile Application Designing</td>
                <td>MA01</td>
            </tr>
            <tr>
            <th scope="row">007</th>
            <td>Namal</td>
            <td>Kumara</td>
                <td>Web Designing</td>
                <td>WD01</td>
            </tr>
            <tr>
            <th scope="row">008</th>
            <td>Sandali</td>
            <td>Perera</td>
                <td>Graphic Designing</td>
                <td>GD01</td>
            </tr>
            <tr>
            <th scope="row">009</th>
            <td>Thilak</td>
            <td>Kumara</td>
            <td>Graphic Designing</td>
                <td>GD01</td>
        </tr>

        
       
    </tbody>
</table></div>